html, body{
    min-height: 100%;
}

body{
    min-height: 100vh;
    position: relative;
}

.footer {
    /* Footer */

    /* Auto layout */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 32px 0px;
    gap: 16px;

    position: absolute;
    left: 0px;
    right: 0px;
    /* top: 86.6vh; */
    bottom: 0%;
    min-height: 60px;
    max-height: 60px;

    /* Orange */
    background: #DE8667;

    /* Shadow */
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.15);
    border-radius: 0px;
}

.footer div {
    /* Inner section */

    /* Auto layout */
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 72px;
    gap: 82px;

    width: 1440px;
    height: 25px;


    /* Inside auto layout */
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.footer div p {
    width: 1181px;
    height: 14px;

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;

    /* identical to box height */
    text-align: right;

    color: #FFFFFF;


    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 1;
}

.footer div i {
    /* Logo icon */

    font-size: 33px;

    /* White */
    color: #FFFFFF;

    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}